@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar-brand{
    font-family: 'ubuntu' , sans-serif;
    font-weight: 500;
}
li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: crimson;
    transition: all .5s;

}
 a:hover::after{
    width: 100%;
}
ul li ul.navbar li{
    display: block;
}
ul li ul.navbar{
    width: 100%;
    background:crimson;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 20px;
}
ul li:hover ul.navbar{
    display: block;
}
.contact h1{
    margin-top: 150px;
    font-family: 'ubuntu' , sans-serif;
}
.contact h2{
    font-family: 'ubuntu' , sans-serif;
}
.vjsmr h1{
   margin-top: 150px;
   font-family: 'ubuntu' , sans-serif;
}
.vjsmr h2{
    margin-top: 200px;
    font-family: 'ubuntu' , sans-serif;
    font-size: 45px;
}
form{
    background-color: crimson;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'ubuntu' , sans-serif;
}

input,select,textarea{
    width: 100%;
    padding: 10px 25px;
    margin-bottom: 10px;
}
span{
    color: rgb(118, 5, 5);
}